[MASTER]
ignore=tests,venv,.venv

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-function-docstring,
    missing-class-docstring,
    import-outside-toplevel,
    ungrouped-imports,
    wrong-import-position,
    wrong-import-order,
    redefined-outer-name,
    logging-fstring-interpolation,
    invalid-name,
    broad-exception-caught,
    too-many-locals,
    too-many-branches,
    too-many-statements,
    too-many-arguments,
    too-many-positional-arguments,
    too-many-instance-attributes,
    too-many-return-statements,
    multiple-statements,
    duplicate-code,
    protected-access,
    unspecified-encoding,
    no-else-return,
    trailing-whitespace,
    line-too-long,
    too-few-public-methods,
    fixme,
    unused-variable,
    unused-argument,
    reimported,
    unnecessary-lambda,
    pointless-string-statement,
    too-many-nested-blocks,
    too-many-lines,
    attribute-defined-outside-init,
    try-except-raise,
    raise-missing-from,
    no-else-break,
    logging-not-lazy,
    superfluous-parens,
    useless-import-alias,
    inconsistent-return-statements,
    consider-using-in,
    import-error,
    global-statement

[DESIGN]
max-args=8
max-locals=25
max-returns=10
max-branches=20
max-statements=100
